.projeto{
    display: grid;
    gap: 1rem;
    max-width: 44rem;
    grid-template-columns: 50% auto;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    'imagem titulo'
    'imagem descricao' ; 
}

.projeto__conteudo{
    position: relative;
    grid-area: imagem;
    border: solid 1rem var(--cor-borda);
}

.projeto__info{
    grid-area: descricao;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.projeto__titulo{
    grid-area: titulo;
    font-size: 1.375rem;
    font-weight: bold;
}

.projeto__descrição{  
    font-size: 1.2rem;
    max-height: 14.5rem;
    margin-bottom: 1rem;
}

.projeto__botao{
    text-align: center;
    font-family: var(--fonte-openSans);
    padding: 0.875rem;
    color: var(--cor-branca);
    background-color: var(--cor-borda);
    border-radius: 22px;
    text-decoration: none;
    max-width: 22rem;
}

.projeto__imagem{
    width: 100%;
    height: 100%;
}


.projeto__link{
    position: absolute;
    bottom: 0;
    right: -1px;
    text-decoration: none;
}

@media (max-width: 769px){
    .projeto{
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
        background-color: #ececec6e;
        border-radius: 22px;
        max-width: 20.75rem;
    } 
}

